/*======================================= media query ========================================================= */
/* ================================== useful mixin 1 ========================================================== */
/*============================ auto prefixes css3 ============================================================= */
/*================================= animation prefix ========================================================== */
/*=================================== centering1 ============================================================== */
/*=========== start grid layout =====*/
* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=========== end grid layout =============*/
/* ============= Start main buttons component =============== */
.main--btn {
  height: 47px;
  transition: 0.7s;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  text-align: center;
  background: #00ad6c;
}
.main--btn:hover, .main--btn:focus {
  box-shadow: inset -3.5em 0 0 0 #fff, inset 3.5em 0 0 0 #fff;
}

/* ============== end main buttons component ================ */
/* The container */
/*======== start heading ===========*/
.main_head {
  color: #00ad6c;
  position: relative;
  font-family: "Bahij-Helvetica-Neue-75-Bold";
  display: inline-block;
}
.main_head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 15px;
  right: 0px;
  z-index: -1;
  background-color: #eeaf23;
  opacity: 0.4;
}

/*========== end heading ==============*/
/*====================== start global page ======================================*/
@font-face {
  font-family: "avenir-arabic.otf";
  src: url(@/assets/fonts/avenir-arabic.otf);
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.profile .tabs .tab-content .table-responsive::-webkit-scrollbar,
.all_ranges::-webkit-scrollbar,
.courses_before_subscribe .all_content .tabs > div::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar,
.courses_before_subscribe .all_content .tabs > div::-webkit-scrollbar,
.courses_component .card-header::-webkit-scrollbar {
  height: 7px;
}

body::-webkit-scrollbar-track,
.profile .tabs .tab-content .table-responsive::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
.all_ranges::-webkit-scrollbar-track,
.courses_before_subscribe .all_content .tabs > div::-webkit-scrollbar-track,
.courses_component .card-header::-webkit-scrollbar-track {
  border-radius: 1rem;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb,
.profile .tabs .tab-content .table-responsive::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb,
.all_ranges::-webkit-scrollbar-thumb,
.courses_before_subscribe .all_content .tabs > div::-webkit-scrollbar-thumb,
.courses_component .card-header::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00ad6c;
}

body::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
}

body {
  font-family: "avenir-arabic.otf";
  font-size: 16px;
  background: #fff;
  overflow-x: hidden;
}

html[lang=ar-EG] body {
  direction: rtl;
  text-align: right;
}

.text-ellipsis-1 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text-ellipsis-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-ellipsis-5 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

section {
  overflow: hidden !important;
}

.owl-carousel {
  direction: ltr !important;
}

.slick-slider {
  direction: ltr;
}

.slick-track {
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-transform: lowercase;
  line-height: 1.8;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.center-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  color: #000;
  margin-bottom: 10px;
  padding-inline-start: 2px;
}

.swal2-popup .swal2-title {
  font-size: 20px !important;
}

.swal2-popup .swal2-styled {
  padding: 0 !important;
  margin: 0 !important;
}

.swal2-icon {
  font-size: 10px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  min-width: 100px;
  height: 40px;
}

.multiselect__tags {
  background: #fff !important;
}

.multiselect__single {
  background: #fff !important;
}

p {
  margin-bottom: 0 !important;
}

.eye svg {
  font-size: 16px;
}

button,
input,
textarea {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 16px;
}

select {
  width: 100%;
  height: 45px;
  border: none;
  box-shadow: none;
  outline: none;
  background: #e7f0ff 0% 0% no-repeat padding-box;
}
select option {
  background: #fff;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 1px solid #00ad6c !important;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paginate ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.paginate ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #58595b;
  border: 1px solid #cfd8ec;
  border-radius: 2px;
  width: 29px;
  height: 33px;
}
.paginate ul li a.active {
  border: 1px solid #00ad6c;
  color: #00ad6c;
}
.paginate ul li a svg {
  color: #f7c553;
}

.side_bar_content .b-sidebar-header {
  margin: 20px 0;
}
.side_bar_content img {
  width: 60px;
  height: 60px;
  margin: auto;
  text-align: center;
  border-radius: 50px;
  display: block;
  margin-bottom: 23px;
}
.side_bar_content button {
  width: auto !important;
}
.side_bar_content button.close {
  background: none;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  border: none;
  font-size: 40px;
}
.side_bar_content .info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.side_bar_content .info ul li a {
  color: #000;
  font-size: 18px;
  font-family: "Calibri-Regular";
  transition: 0.5s;
}
.side_bar_content .info ul li a:hover {
  margin-right: 10px;
  color: #00ad6c;
}
.side_bar_content .info ul li p {
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-family: "Calibri-Regular";
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.eye {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #000;
}

.vti__dropdown-list.below {
  top: 53px;
  display: flex;
  flex-direction: column;
}

.vti__dropdown {
  background: none;
  position: unset !important;
  border-inline-start: 1px solid #ddd !important;
}

.vue-tel-input {
  border: none !important;
  box-shadow: none;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  background: #e7f0ff;
  height: 45px;
  margin-bottom: 20px;
}

input.vti__input {
  height: 100%;
  margin-bottom: 0 !important;
  border: none !important;
}

.vti__dropdown-list {
  display: flex;
  flex-direction: column;
}

.swal2-styled.swal2-confirm {
  width: 70px;
  border: none;
  outline: none;
  box-shadow: none;
}

.error_validate {
  display: block;
  color: #ff4d00;
  font-size: 14px;
  margin-bottom: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.intro-enter-active,
.intro-leave-active {
  transition-duration: 1600ms;
}
.intro-enter-active::before, .intro-enter-active::after,
.intro-leave-active::before,
.intro-leave-active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50%;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
.intro-enter-active::before,
.intro-leave-active::before {
  background-color: #2e2e2e;
}
.intro-enter-active::after,
.intro-leave-active::after {
  top: 50%;
  background-color: #2e2e2e;
}

.intro-leave::before, .intro-leave::after {
  transform: scaleX(0);
}

.intro-leave-active::before {
  transition-duration: 800ms;
}
.intro-leave-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}

.intro-leave-to::before, .intro-leave-to::after {
  transform: scale(1);
  transform-origin: left;
}

.intro-enter::before, .intro-enter::after {
  transform: scaleX(1);
}

.intro-enter-active::before {
  transition-duration: 800ms;
}
.intro-enter-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}

.intro-enter-to::before, .intro-enter-to::after {
  transform: scaleX(0);
  transform-origin: right;
}

.fade2-enter-active,
.fade2-leave-active {
  transition: all 0.4s cubic-bezier(0.175, 0.985, 0.92, 0.95);
}

.fade2-enter,
.fade2-leave-active {
  transform: translateX(10%) skew(4deg);
  opacity: 0;
}

@media only screen and (max-width: 959px) {
  .fade2-enter,
  .fade2-leave-active {
    transform: translateX(0) skew(0);
  }
}
.page-enter-active {
  animation: acrossIn 0.45s ease-out both;
}

.page-leave-active {
  animation: acrossOut 0.65s ease-in both;
}

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.fadeOpacity-enter-active,
.fadeOpacity-leave-active {
  transition: opacity 0.35s ease-out;
}

.fadeOpacity-enter,
.fadeOpacity-leave-active {
  opacity: 0;
}

.page6-enter-active {
  animation: acrossIn 0.45s ease-out both;
}

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.page7-leave-active {
  animation: acrossOut 0.65s ease-in both;
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.second_layout .navbar_page,
.second_layout .crumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second_layout .crumb {
  text-align: center;
  padding: 40px 0;
}
.second_layout .crumb h3 {
  color: #0c0c0c;
  font-size: 20px;
  font-family: "Bahij-Helvetica-Neue-75-Bold";
  margin-bottom: 16px;
}
.second_layout .crumb ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.second_layout .crumb ul li a {
  color: #0c0c0c;
}
.second_layout .crumb ul li svg {
  color: #f7c553;
  font-size: 16px;
}

/*====================== end global page ======================================*/
html[lang=en-US] body {
  direction: ltr;
  text-align: left;
}
html[lang=en-US] body header .staticis {
  right: 0;
  left: auto;
  border-radius: 141px 0 0 0;
}
html[lang=en-US] body .courses_content_before_subscribe .all_info .image_video .video {
  left: 50%;
  right: unset;
}
html[lang=en-US] body .eye {
  left: auto;
  right: 20px;
}
html[lang=en-US] body .courses_component .card_content .appoint {
  justify-content: flex-end;
}
html[lang=en-US] body .courses_component .card_content .appoint .calender {
  flex-direction: row-reverse;
}
html[lang=en-US] body .courses_component .card_content .course_link a {
  flex-direction: row-reverse;
}
html[lang=en-US] body .courses_component .card_content .course_link a svg {
  transform: rotate(180deg);
}
html[lang=en-US] body .image_video .video {
  left: auto;
  right: 65px;
}
html[lang=en-US] body .second_layout .crumb ul li svg,
html[lang=en-US] body .profile_side_component .profile_content .my-courses .boxes .box .all_course_detail .course_detail .info .course_link a svg {
  transform: rotate(180deg);
}
html[lang=en-US] body .has-search .icon_sea {
  left: auto;
  right: 20px;
}
html[lang=en-US] body .courses_component .card_content .trainer_desc {
  flex-direction: row-reverse;
}

.navbar_page {
  padding: 32px 0;
}
.navbar_page .logo {
  width: 191px;
  height: 53px;
}
.navbar_page .logo img {
  width: 100%;
  height: 100%;
}
.navbar_page .nav_items > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.navbar_page .nav_items > ul li a,
.navbar_page .nav_items > ul li button {
  color: #0c0c0c;
}
.navbar_page .nav_items > ul li button,
.navbar_page .nav_items > ul li button:focus-visible,
.navbar_page .nav_items > ul li button:active {
  background: transparent;
  box-shadow: none;
  color: #000;
  border: none;
}
.navbar_page .nav_items > ul li .dropdown-menu.show {
  box-shadow: 0px 21px 36px rgba(94, 92, 92, 0.168627451);
  border-radius: 5px;
  border: none;
}
.navbar_page .nav_items > ul li .dropdown-menu.show li a {
  text-align: start;
  padding: 14px;
}
.navbar_page .nav_items > ul li .dropdown-menu li {
  display: block;
}
.navbar_page .nav_items > ul li .dropdown-menu li a:hover {
  color: #fff !important;
}
.navbar_page .nav_items > ul li .dropdown-menu li a:focus {
  background-color: #00ad6c !important;
  color: #0c0c0c;
}
.navbar_page .nav_auth .icon_search a {
  color: #000;
}
.navbar_page .nav_auth .language {
  margin-inline-start: 20px;
}
.navbar_page .nav_auth .language span {
  color: #000;
  font-family: "Dubai-Bold";
}
.navbar_page .nav_auth .btns-auth {
  gap: 13px;
  margin-inline-start: 33px;
}
.navbar_page .nav_auth .btns-auth button {
  max-width: 145px;
}
.navbar_page .nav_auth .sidebar button {
  margin-inline-start: 20px;
  width: 40px;
}
.navbar_page .dropdown-toggle::after {
  position: absolute;
  bottom: 13px;
  left: -10px;
}
.navbar_page .dropdown-item:hover {
  background-color: #00ad6c !important;
  color: #0c0c0c;
}

.icon_notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(189, 204, 236, 0.4509803922);
  border-radius: 50px;
  padding: 4px;
}

.profile_im button {
  background: none;
  border: none;
}
.profile_im button:hover {
  background: none !important;
  max-width: unset;
  width: unset;
}
.profile_im button::after {
  display: none;
}
.profile_im button .drop_btn img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.profile_im ul {
  box-shadow: 0px 21px 36px rgba(94, 92, 92, 0.168627451);
  border-radius: 5px;
  border: none;
}
.profile_im ul a {
  text-align: start;
  width: 100%;
  display: block;
  padding: 5px 0;
  color: #000;
  padding-inline-start: 10px;
}
.profile_im ul a:hover {
  color: #fff !important;
  background: #00ad6c;
}
.profile_im ul li {
  display: block;
  width: 100%;
}
.profile_im ul li a {
  text-align: start;
}
.profile_im ul li a:hover {
  color: #fff !important;
}

.navbar_page .nuxt-link-exact-active.nuxt-link-active {
  color: #00ad6c !important;
  font-family: "Bahij-Helvetica-Neue-75-Bold";
}

footer {
  overflow: hidden;
}
footer .partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  padding: 15px 0;
  background: #f1f5ff;
}
footer .partners img {
  width: 80px;
  max-height: 80px;
  mix-blend-mode: darken;
}
footer .footer_content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 100px 0 70px;
}
footer .footer_content .image_logo {
  margin-bottom: 33px;
}
footer .footer_content .image_logo img {
  max-width: 191px;
  height: 53px;
}
footer .footer_content ul.info_contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 10px;
}
footer .footer_content ul.info_contact li {
  display: flex;
  gap: 10px;
}
footer .footer_content ul.info_contact li span {
  color: #3f64b8;
}
footer .footer_content ul.info_contact li span svg {
  width: 16px;
  height: 16px;
}
footer .footer_content ul.info_contact li a {
  color: #0c0c0c;
}
footer .footer_content ul.social {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-top: 25px;
}
footer .footer_content ul.social li {
  display: flex;
  gap: 10px;
}
footer .footer_content ul.social li a {
  color: #3f64b8;
}
footer .footer_content ul.social li a svg {
  width: 16px;
  height: 16px;
}
footer .footer_content h3 {
  margin-bottom: 32px;
}
footer .footer_content h3.main_head::after {
  height: 9px;
  bottom: 6px;
}
footer .footer_content .site_links .all_site_pages {
  display: flex;
  gap: 70px;
}
footer .footer_content .site_links .all_site_pages ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .footer_content .site_links .all_site_pages ul li a {
  color: #0c0c0c;
  transition: 0.5s;
}
footer .footer_content .site_links .all_site_pages ul li a:hover {
  color: #013fcd;
}
footer .copy_right {
  padding: 23px 0 15px;
  border-top: 2px solid #eee;
}
footer .copy_right .cont_img {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
footer .copy_right p,
footer .copy_right .cont_img {
  color: #4e4e4e;
}
footer .copy_right .image img {
  width: 15px;
}

.mapping {
  width: 100%;
  height: 161px;
}
.mapping iframe {
  width: 100%;
  height: 100%;
}

/*======= start header layout =============*/
header {
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 100px;
}
header .all_images {
  position: relative;
}
header .all_images .image_back {
  position: absolute;
  top: -54px;
  left: -87px;
}
header .all_images .image_back img {
  width: 415px;
  height: 371px;
}
header .image-right {
  width: 150px;
  position: absolute;
  top: 0;
  right: -53px;
  transform: rotate(310deg);
}
header .hero_image {
  margin: auto;
  position: relative;
  width: 398px;
  height: 617px;
}
header .hero_image:after {
  content: "";
  position: absolute;
  width: 484px;
  height: 484px;
  background: transparent linear-gradient(181deg, #3f63b6 0%, rgba(63, 99, 182, 0) 100%) 0% 0% no-repeat padding-box;
  border-radius: 235px 235px 0px 0px;
  opacity: 0.32;
  right: -42px;
  bottom: 32px;
  z-index: -1;
}
header .hero_image img {
  width: 100%;
  height: 100%;
}
header .hero_content span.name {
  font-family: "Bahij-Helvetica-Neue-75-Bold";
  color: #3f64b8;
  display: block;
}
header .hero_content h1 {
  margin-bottom: 33px;
  font-size: 48px;
}
header .hero_content p {
  padding-bottom: 33px;
  width: 75%;
}
header .hero_content button {
  width: 146px;
}
header .staticis {
  box-shadow: 0px -16px 66px rgba(63, 99, 182, 0.1490196078);
  border-radius: 0px 141px 0px 0px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 818px;
  height: 129px;
  position: absolute;
  bottom: 0;
  left: 0;
}
header .staticis .trainee {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .staticis .trainee.trainer .icon {
  background: #fe5e3e;
  box-shadow: 0px 0px 27px rgba(254, 94, 62, 0.6);
}
header .staticis .trainee.course .icon {
  background: #07c66d;
  box-shadow: 0px 0px 27px rgba(7, 198, 109, 0.6);
}
header .staticis .trainee .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #8107c6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 0px 27px rgba(129, 7, 198, 0.6);
}
header .staticis .trainee .info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .staticis .trainee .info span:first-child {
  color: #000;
  font-size: 23px;
  font-family: "Bahij-Helvetica-Neue-75-Bold";
}
header .staticis .trainee .info span:last-child {
  color: #4f4f4f;
  font-size: 20px;
  font-family: "BAHIJ_HELVETICA_45-NEUE_LIGHT";
}

/*======= end header layout ===============*/
@media (min-width: 1200px) {
  .about .content {
    margin-inline-start: 70px;
  }
}
@media (max-width: 1240px) {
  [dir=rtl] .slick-prev {
    right: 14px !important;
    left: auto !important;
    z-index: 999;
  }
  [dir=rtl] .slick-next {
    right: auto !important;
    left: -16px !important;
  }
}
@media (max-width: 1200px) {
  .box_current {
    flex-wrap: wrap;
    height: auto !important;
  }
  .box_current .head.current {
    width: 100%;
    height: 45px;
  }
  .navbar_page .nav_items,
  .btns-auth,
  .d-none-custom {
    display: none;
  }
  .sidebar {
    display: block !important;
  }
  .custom-center {
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .payment .all_pay {
    margin: 50px 0;
  }
  .payment .all_pay .row {
    flex-direction: column-reverse;
  }
  .about .image_botton {
    margin-bottom: 60px;
  }
  .about .image_botton img {
    width: 100%;
    left: 0;
  }
  header .staticis {
    width: 100%;
  }
  .course_filter .all_content_filter .filter_box .all_check_boxes {
    margin-bottom: 30px;
  }
  .about {
    padding-bottom: 30px;
  }
  .profile_side_component .profile_content .profile_guide_component {
    margin-top: 30px;
  }
  .nav_auth {
    justify-content: flex-end !important;
  }
  footer .copy_right p {
    text-align: center;
  }
  footer .copy_right .cont_img {
    justify-content: center;
    margin-top: 10px;
  }
  footer .site_links {
    margin: 50px 0;
  }
}
@media (max-width: 767px) {
  .payment .all_pay .pay_method {
    padding: 25px;
  }
  .courses_component {
    margin: 50px 0;
  }
  .about {
    padding: 50px 0;
  }
  header {
    margin-bottom: 40px;
  }
  header .hero_content {
    margin-bottom: 50px;
  }
  .profile_side_component .profile_content .profile_guide_component {
    min-height: auto;
    margin-top: 30px;
    padding: 50px 20px;
    text-align: center;
  }
  .single_article .all_content .image_course {
    height: 220px;
  }
  .result_exam .all_content .box {
    padding: 60px 30px;
  }
  .courses_content_before_subscribe.diploma_attend .all_info .attachment .content {
    flex-direction: column;
  }
  .exam .all_questions .question_info {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .courses_before_subscribe .all_content .tabs > div {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .courses_before_subscribe .all_content .tabs > div ul.nav-tabs {
    min-width: 700px;
    margin-bottom: 0;
    border-bottom: unset;
    padding-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .about .image_top img {
    width: 350px;
    height: 350px;
  }
  .about .image_botton img {
    width: 400px;
    margin: auto;
    left: 47px;
    top: -96px;
    right: auto;
  }
  .result_exam .all_links {
    flex-direction: column;
  }
  .result_exam .all_links button {
    margin-top: 20px;
  }
  .payment .all_pay .pay_method .options {
    padding: 10px;
  }
  .navbar_page .logo {
    width: auto;
  }
  .navbar_page .logo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .courses_component .tabs .tab-content .card_content .appoint {
    gap: 45px;
  }
  .courses_before_subscribe .all_content .tabs .tab-content .about_trainer .all_content_trainer {
    flex-direction: column;
  }
  .exam .all_questions .question_result {
    padding: 10px;
  }
  .exam .all_questions .question_body {
    padding: 10px;
  }
  .courses_content_before_subscribe.diploma_attend .all_info .rate_box {
    padding: 10px 0;
  }
  .courses_content_before_subscribe.diploma_attend .all_info .comments {
    padding: 20px 10px;
  }
  .courses_component .tabs .nav-tabs li.nav-item a.active span {
    border-bottom: none;
  }
  .courses_component .tabs .nav-tabs li.nav-item a span {
    border: none;
  }
  .about .content h3 {
    font-size: 20px;
  }
  .about .content h3:after {
    bottom: 0;
  }
  header .staticis,
  html[lang=en-US] body header .staticis {
    height: 150px;
    border-radius: unset;
  }
  header .staticis .trainee,
  html[lang=en-US] body header .staticis .trainee {
    flex-direction: column;
    gap: 3px;
  }
  header .staticis .trainee .icon,
  html[lang=en-US] body header .staticis .trainee .icon {
    width: 45px;
    height: 45px;
  }
  header .staticis .trainee .icon svg,
  html[lang=en-US] body header .staticis .trainee .icon svg {
    font-size: 17px;
  }
  header .all_images .image_back {
    position: absolute;
    top: -54px;
    left: -99px;
  }
  header .all_images .image_back img {
    width: 250px;
    height: 250px;
    transform: rotate(140deg);
  }
  header .hero_image {
    width: 230px;
    height: 432px;
  }
  header .hero_image:after {
    right: -32px;
    width: 280px;
    height: 433px;
  }
  header .hero_content h1 {
    font-size: 30px;
  }
  header .hero_content h1:after {
    bottom: 0;
  }
  header .hero_content p {
    width: 100%;
  }
  .course_filter .all_content_filter .head_arrange {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .courses_component .card_course .card_course {
    margin-bottom: 20px;
  }
  .card--row .col-md-6 .card_course {
    flex-direction: column;
  }
  .card--row .col-md-6 .card_course .image_course,
  .card--row .col-md-6 .card_course .card_content {
    width: 100%;
  }
  .contact .all_content .all_info form input,
  .contact .all_content .all_info form button {
    margin: auto;
  }
  .contact .all_content .all_info form .vue-tel-input {
    margin: 0 auto 20px;
  }
  .contact .all_content .all_info form textarea {
    margin: 0 auto 20px;
  }
  .contact .all_content .all_info .head {
    text-align: center;
  }
  .contact .all_content .box_contact {
    padding: 30px 20px;
  }
  .contact .all_content .box_contact .head {
    text-align: center;
  }
  .contact .all_content .left_box ul {
    justify-content: center;
    align-items: center;
  }
  .result_exam .all_content .box {
    padding: 50px 20px;
  }
  .result_exam .all_content .box .box_info {
    padding: 18px;
  }
  .courses_content_before_subscribe .all_info .course_content .box_content .card .accordion_content {
    margin: 0 10px;
    padding: 10px;
  }
  .courses_content_before_subscribe .all_info .image_video .overlay span {
    right: 0;
  }
  .courses_content_before_subscribe .all_info .course_content .box_content .card .card-header {
    margin: 0;
  }
  .courses_content_before_subscribe .all_info .image_video {
    height: 300px;
    min-height: auto;
    margin-top: 30px;
  }
  .why_us .image_video img {
    height: auto;
  }
  .about_us .all_content_vision .box.box_center {
    margin: 30px 0;
  }
  .about_us .all_content_vision {
    margin-bottom: 30px;
  }
  .terms .all_content {
    margin: 40px 0 30px;
  }
  .terms .all_content .content {
    margin-bottom: 20px;
  }
  .terms .all_content .content h2 {
    font-size: 17px;
  }
  .terms .all_content .content h2::after {
    bottom: 1px;
  }
  .terms .all_content .content p {
    font-size: 14px;
  }
  .navbar_page {
    padding: 12px 0 0;
  }
  .profile_side_component .profile_content .course_rate .boxes_rate .box .head {
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  .profile_side_component .profile_content .my-courses {
    padding: 35px 13px;
  }
  .profile_side_component .profile_content .my-courses .boxes .box {
    height: auto;
    flex-direction: column;
  }
  .profile_side_component .profile_content .my-courses .boxes .box .head {
    height: 65px;
  }
  .profile_side_component .profile_content .my-courses .boxes .box ul {
    margin: 20px;
  }
  .signup.passcode .all_info p {
    font-size: 14px;
  }
  .signup.passcode .pass_numbers {
    gap: 10px;
  }
  .signup.passcode .pass_numbers input {
    width: 40px;
    height: 40px;
  }
  .why_us .advantages {
    text-align: center;
  }
  .why_us .advantages .box {
    max-width: 100%;
    flex: 100%;
  }
  .why_us .advantages .box .image_advantage {
    margin: auto;
  }
  footer .footer_content {
    text-align: center;
  }
  footer .footer_content ul.info_contact {
    align-items: center;
  }
  footer .footer_content .site_links .all_site_pages,
  footer .footer_content ul.social {
    justify-content: center;
  }
  footer .copy_right p {
    font-size: 14px;
  }
  .signup .all_info {
    padding: 20px 10px;
  }
  .signup .all_info button.share_go span,
  .signup .all_info form .box_check {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .about .image_botton img {
    left: auto;
  }
}
@media screen and (orientation: landscape) {
  .b-sidebar > .b-sidebar-body .info {
    min-height: 370px;
  }
}
/*============== start up button component============*/
.up {
  position: fixed;
  bottom: 121px;
  right: 51px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 50%;
  background-color: #00ad6c;
  z-index: 99999;
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
  animation: fadeInOut 1s infinite linear;
  animation: fadeInOut 1s infinite linear;
}
.up:hover {
  transform: scale(1.2);
}

/*============= end up button component==============*//*# sourceMappingURL=main.css.map */