// ============ start variable============

$global-font-family: "avenir-arabic.otf";
$mainColor: #00ad6c;
$secondColor: #4b4b4b;
$thirdColor: #959595;
$placeholderColor: #4b4b4b;
$textColor: #7d7d7d;
$black: #000;
$white: #fff;
$iconColor: #3f64b8;

// ============ end variable =============
